.cabecalho {
    background-color: brown;
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: aquamarine;
}

.section2 {
    background-color: blueviolet;
}